/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200&display=swap');

/* stylesheet root vars */
:root {
    --primary-color-1: #FF8DC6;
    --primary-color-2: #FD9ECE;
    --primary-color-3: #FFB3D9;
    --primary-color-4: #FFCDE6;
    --primary-color-5: #FFE5F2;
    --secondary-color-1: #A9DDB1;
    --secondary-color-2: #B6E4BC;
    --secondary-color-3: #C3EBC6;
    --secondary-color-4: #DEF8DB;
    --secondary-color-5: #EBFFE6;
    --background-1: #121212;
    --background-2: #242424;
    --foreground-1: #DEDEDE;
    --foreground-2: #EFEFEF;

    --font-base: calc(1vh+1vw);
    --font-large: calc(var(--font-base)*4.0);
    --font-medium: calc(var(--font-base)*2.0);
    --font-small: calc(var(--font-base)*1.5);

    --spacing-base: calc(1vh+1vw);
    --spacing-large: calc(var(--spacing-base)*3.0);
    --spacing-medium: calc(var(--spacing-base)*2.0);
    --spacing-small: calc(var(--spacing-base)*1.0);
    --spacing-xsmall: calc(var(--spacing-base)*0.5);
}

/* body styles */
body {
    background: var(--background-1);
    font-family: 'Lexend Exa', sans-serif;
    color: var(--foreground-1);
    max-height: 100vh;
    max-width: 100vw;
}

/* main header styles (text at top of screen) */
.mainheader {
    color: var(--secondary-color-2);
    background-color: var(--background-1);
    padding: 0 var(--spacing-large);
    margin-left: var(--spacing-small);
    font-size: var(--font-large);
    font-family: 'Lexend Exa', sans-serif;
}

/* headers within boxes on dashboard */
.box-header {
    color: var(--primary-color-2);
    font-size: var(--font-medium);
    padding: 0 var(--spacing-medium);
    text-align: center;
    margin: var(--spacing-small) 0;
}

/* forecast text styles */
.forecast {
    padding: 0 var(--spacing-medium);
    font-size: var(--font-medium)
}

/* temperature and humidity box text styles */
.temphumreading {
    display: inline-block;
    font-size: var(--font-large);
}

/* timers text style */
.timer {
    display: inline-block;
    font-size: var(--font-large);
}

/* device info text styles */
.deviceinfo {
    display:  inline-block;
    font-size: var(--font-small);
}

/* grid layout */
.grid-container {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing-small);
    padding: var(--spacing-medium);
    height: 85vh;
}

/* styles for all grid items */
.grid-item {
    background-color: #242424;
    border-radius: var(--spacing-medium);
    padding: var(--spacing-small);
    overflow: hidden;
    font-size: var(--font-small);
}

/* grid area definitions */
.grid-raintime { grid-area: 1 / 1 / 3 / 6 ; }
.grid-runtime { grid-area: 3 / 1 / 5 / 6 ; }
.grid-timegraph { grid-area: 1 / 6 / 5 / 9 ; }
.grid-forecast { grid-area: 1 / 9 / 5 / 13 ; }
.grid-currtemp { grid-area: 5 / 1 / 8 / 3; }
.grid-currhum { grid-area: 8 / 1 / 11 / 3; }
.grid-tempgraph { grid-area: 5 / 3 / 11 / 8; }
.grid-humgraph { grid-area: 5 / 8 / 11 / 13; }
.grid-devicename { grid-area: 11 / 1 / 13 / 3; } 
.grid-devicemac { grid-area: 11 / 3 / 13 / 5; }
.grid-raining { grid-area: 11 / 5 / 13 / 7; }
.grid-status { grid-area: 11 / 7 / 13 / 10; }
.grid-recordnum { grid-area: 11 / 10 / 13 / 13; }

/* graph style definitions */
.chart-container {
    display: flex; /* Use Flexbox layout */
    align-items: center; /* Vertically align items */
    justify-content: center; /* Horizontally align items */
    width: 100%;
    height: 100%
}

canvas { 
    width: 100%;
    height: 100%;
}