{% extends "base.html" %}

{% block chartjsimport %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"
    integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
</script>
{% endblock %}

{% block raintimedist %}
<div class="chart-container">
    <canvas id="raintimedistChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const raintimedistctx = document.getElementById("raintimedistChart");

    new Chart(raintimedistctx, {
        type: "doughnut",
        data : {
            labels: ["Precipitation Events", "Dry Weather"],
            datasets: [
                {
                    label: "Test",
                    data: {{ raintimedist | safe }},
                    backgroundColor: [
                        "#FF8DC6",
                        "#A9DDB1"
                    ]
                }
            ]
        },
        options: {
            rotation: -90,
            circumference: 180,
            cutout: 80
        }
    })
</script>
{% endblock %}

{% block humgraph %}
<div class="chart-container">
    <canvas id="humidityChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const humctx = document.getElementById("humidityChart");

    new Chart(humctx, {
        type: "line",
        data: {
            labels: {{ times | safe }},
            datasets: [
                {
                    label: "Humidity",
                    data: {{ humidityvalues | safe }},
                    borderWidth: 1,
                    pointBackgroundColor: "#DEF8DB",
                    pointBorderColor: "#A9DDB1",
                    borderColor: "#B6E4BC",
                    tension: 0.3
                }
            ]
        },
        options: {
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: "Seconds since last update (s)"
                    }
                },
                y: {
                    display: true,
                    beginAtZero: true,
                    suggestedMin: 0,
                    suggestedMax: 100,
                    ticks: {
                        stepSize: 5
                    },
                    title: {
                        display: true,
                        text: "Humidity (%)"
                    }
                }
            }
        }
    });
</script>
{% endblock %}

{% block tempgraph %}
<div class="chart-container">
    <canvas id="temperatureChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const tempctx = document.getElementById("temperatureChart");

    new Chart(tempctx, {
        type: "line",
        data: {
            labels: {{ times | safe }},
            datasets: [
                {
                    label: "Temperature",
                    data: {{ temperaturevalues | safe }},
                    borderWidth: 1,
                    pointBackgroundColor: "#FFB3D9",
                    pointBorderColor: "#FF8DC6",
                    borderColor: "#FD9ECE",
                    tension: 0.3
                }
            ]
        },
        options: {
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: "Seconds since last update (s)"
                    }
                },
                y: {
                    display: true,
                    suggestedMin: -20,
                    suggestedMax: 50,
                    ticks: {
                        stepSize: 5,
                    },
                    title: {
                        display: true,
                        text: "Temperature (\xB0C)"
                    }
                }
            }
        }
    });
</script>
{% endblock %}